<blockquote 
    class=\"tiktok-embed\" 
    cite=\"https://www.tiktok.com/@kclashes_mex/video/7134150439125126405\" 
    data-video-id=\"7134150439125126405\" 
    data-embed-from=\"oembed\" 
    style=\"max-width: 605px; min-width: 325px;\" 
> 
<section> 
    <a 
        target=\"_blank\" 
        title=\"@kclashes_mex\" 
        href=\"https://www.tiktok.com/@kclashes_mex?refer=embed\">
        @kclashes_mex
    </a> 
    <p>💬 \"No lavó mis extensiones de pestañas para que duren más” ❌ Querida clienta, basta de decirlo, hoy quiero recordarte que las pestañas más sanas son las más limpias. En mi Instagram te cuento más: @kclashes_mex ✨ 📎 Colega, comparte esta información con tus clientxs. Clientx guarda esta información para tus próximas aplicaciones. 💕 • • 
        <a title=\"extensionesdepestañas\" target=\"_blank\" href=\"https://www.tiktok.com/tag/extensionesdepesta%C3%B1as?refer=embed\">
            #extensionesdepestañas
        </a> 
        <a title=\"eyelashextensions\" target=\"_blank\" href=\"https://www.tiktok.com/tag/eyelashextensions?refer=embed\">
            #eyelashextensions
        </a> 
        <a title=\"lashtips\" target=\"_blank\" href=\"https://www.tiktok.com/tag/lashtips?refer=embed\">
            #lashtips
        </a> 
        <a title=\"pestañasqueretaro\" target=\"_blank\" href=\"https://www.tiktok.com/tag/pesta%C3%B1asqueretaro?refer=embed\">
            #pestañasqueretaro
        </a> 
        <a title=\"fyp\" target=\"_blank\" href=\"https://www.tiktok.com/tag/fyp?refer=embed\">
            #fyp
        </a> 
        <a title=\"parati\" target=\"_blank\" href=\"https://www.tiktok.com/tag/parati?refer=embed\">
            #parati
        </a>
    </p> 
        <a target=\"_blank\" title=\"♬ GASLIGHT - INJI\" href=\"https://www.tiktok.com/music/GASLIGHT-7086563693013518338?refer=embed\">
            ♬ GASLIGHT - INJI
        </a> 
    </section> 

</blockquote> 
<script async src=\"https://www.tiktok.com/embed.js\"></script>